@import "../../sass/main";

.preview__card {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  background: $white;
  width: 90%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 2rem auto;

  @media only screen and(max-width:1000px) {
    flex-direction: column;
  }
  @media only screen and(max-width:700px) {
    width: 100%;
  }
  @media only screen and(max-width:375px) {
    margin: 4rem auto;
  }
}

.left-group {
  display: flex;
  @media only screen and(max-width:375px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    & > * {
      margin: 1rem auto;
      text-align: center;
    }
  }
}

.right-group {
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  @media only screen and(max-width:375px) {
    width: 80%;
    align-self: center;
  }

  p {
    display: flex;
    margin: 0 1rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
  }
}

.company-logo {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
  border-radius: 4px;
  @media only screen and(max-width:375px) {
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    border-radius: 4px;
  }
}
