@import "../../sass/main";

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5rem;
}

.filter__box {
  flex: 0 0 40%;
  min-height: 100vh;
  background: yellowgreen;
}

.filtered__result {
  flex: 0 0 60%;
  background: rgab(pink, 0.5);
}
